<!-- Resumen del servicio monitoreo de enfermedades-->
<p-drawer
  #drawerRef
  [(visible)]="visible"
  [position]="(helper.isWide$ | async) ? 'right' : 'bottom'"
  [style]="{
    'margin-top': (helper.isWide$ | async) ? '58px' : '0',
    height: (helper.isWide$ | async) ? 'calc(100% - 58px)' : 'auto',
    'border-radius': (helper.isWide$ | async) ? '30px 0 0 30px' : '30px 30px 0 0',
    overflow: 'auto',
    width: (helper.isWide$ | async) ? '450px' : '100%',
    'max-width': (helper.isWide$ | async) ? '45vw' : '100%',
  }"
  [modal]="true"
  (onHide)="visibleChange.emit(false)"
  [header]="'Historial de siembras' | translate"
  [closable]="true"
>
  <!-- Listado -->
  <div style="max-height: 300px; overflow: auto">
    @if (siembras && siembras.length) {
      <p-table [value]="siembras" [tableStyle]="{ width: '100%' }">
        <ng-template #body let-item>
          <tr (click)="selectSiembra(item); drawerRef.close($event)">
            <td style="font-weight: bold; width: 70px">
              {{ item.fechaSiembra | date: 'shortDate' }}
            </td>
            <td>{{ item.semilla?.cultivo }}</td>
            <td>
              <div style="display: flex; justify-content: flex-end; gap: 1em">
                <!-- Eliminar -->
                <svg
                  [style.fill]="'var(--p-danger-color)'"
                  [attr.width]="'30px'"
                  [attr.height]="'30px'"
                  (click)="$event.stopPropagation(); eliminar(item)"
                >
                  <use [attr.xlink:href]="'icons/icons.svg#delete'"></use>
                </svg>

                <!-- Flecha adelante -->
                <svg [style.fill]="'var(--p-text-color)'" [attr.width]="'30px'" [attr.height]="'30px'">
                  <use [attr.xlink:href]="'icons/icons.svg#arrow-forward-ios'"></use>
                </svg>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    } @else {
      <p-message severity="info">{{ 'El lote no tiene siembras' | translate }}</p-message>
    }
  </div>
</p-drawer>
