.i-svg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 22px;
  width: 22px;
}

.i-alertas {
  // @extend .i-svg;
  background: url("/icons/alertas.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 22px;
  width: 22px;
}

.i-conf {
  // @extend .i-svg;
  background: url("/icons/conf.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 22px;
  width: 22px;
}

.i-inicio {
  // @extend .i-svg;
  background: url("/icons/inicio.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 22px;
  width: 22px;
}

.i-menu-hamburguer {
  // @extend .i-svg;
  background: url("/icons/menu-hamburguer.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 28px;
  width: 28px;
}

.i-notificaciones-light {
  // @extend .i-svg;
  background: url("/icons/notificaciones-light.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.i-notificaciones-dark {
  // @extend .i-svg;
  background: url("/icons/notificaciones-dark.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.i-salir {
  // @extend .i-svg;
  background: url("/icons/salir.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 22px;
  width: 22px;
}

.i-siembras {
  // @extend .i-svg;
  background: url("/icons/siembras.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 22px;
  width: 22px;
}

.i-plantas {
  // @extend .i-svg;
  background: url("/icons/plantas.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 22px;
  width: 22px;
}

.i-moon {
  // @extend .i-svg;
  background: url("/icons/moon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 26px;
  width: 26px;
}

.i-sun {
  // @extend .i-svg;
  background: url("/icons/sun.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 26px;
  width: 26px;
}

.i-world-light {
  // @extend .i-svg;
  background: url("/icons/world-light.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 26px;
  width: 26px;
}

.i-world-dark {
  // @extend .i-svg;
  background: url("/icons/world-dark.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 26px;
  width: 26px;
}
