<div class="list-view-container">
  <p-table
    #table
    [value]="datos"
    dataKey="_id"
    [rows]="helper.getPageSize(name)"
    [rowsPerPageOptions]="helper.pageSizeOptions"
    [loading]="loading"
    [paginator]="true"
    [scrollable]="true"
    scrollHeight="flex"
    (onPage)="helper.setPageSize(name, $event.rows)"
    [globalFilterFields]="['nombre']"
    stripedRows
    rowExpandMode="single"
    dataKey="_id"
    stateStorage="session"
    [stateKey]="name"
  >
    <!-- Caption -->
    <ng-template #caption>
      <div class="flex menu-offset" style="align-items: center">
        <!-- Buscar -->
        <p-iconfield iconPosition="left" class="ml-auto">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            #search
            pInputText
            type="text"
            (input)="table.filterGlobal($any($event.target).value, 'contains')"
            [placeholder]="'Buscar' | translate"
          />
        </p-iconfield>
        <!-- Limpiar -->
        <p-button
          [label]="'Limpiar' | translate"
          [outlined]="true"
          icon="pi pi-filter-slash"
          (click)="table.clear(); search.value = ''"
          class="ml-2"
        />
      </div>
    </ng-template>

    <!-- Header -->
    <ng-template #header>
      <tr>
        <!-- Expandir -->
        <!-- <th style="width: 1em"></th> -->
        <!-- Usuario -->
        <th pSortableColumn="nombre">
          <div class="flex items-center gap-2">
            {{ 'Time-lapse' | translate }}
            <p-sortIcon field="nombre" />
            <p-columnFilter type="text" field="nombre" display="menu" />
          </div>
        </th>
        <!-- Acciones -->
        <th>
          <div class="flex items-center">
            {{ 'Acciones' | translate }}
          </div>
        </th>
      </tr>
    </ng-template>

    <!-- Body -->
    <ng-template #body let-row let-expanded="expanded">
      <tr>
        <!-- Nombre -->
        <td>
          {{ row.nombre }}
        </td>
        <td>
          <div style="display: flex; flex-direction: row; gap: 0.5rem">
            <!-- Detalles -->
            <p-button
              [rounded]="true"
              pTooltip="Detalles"
              icon="pi pi-search"
              severity="info"
              (click)="fotos(row)"
            ></p-button>
            <!-- Editar -->
            <p-button
              [rounded]="true"
              pTooltip="Editar"
              icon="pi pi-pencil"
              severity="warn"
              (click)="edit(row)"
            ></p-button>
            <!-- Eliminar -->
            <p-button
              [rounded]="true"
              pTooltip="Eliminar"
              icon="pi pi-trash"
              severity="danger"
              (click)="delete(row)"
              [disabled]="user?._id === row._id"
            ></p-button>
          </div>
        </td>
      </tr>
    </ng-template>

    <!-- Expanded -->
    <ng-template #expandedrow let-row>
      <tr>
        <td colspan="2">
          <h2 style="margin: 0; text-align: center; line-height: 2">Acá van mas detalles del lote</h2>
        </td>
      </tr>
    </ng-template>

    <!-- Sin datos -->
    <ng-template #emptymessage>
      <tr>
        <td colspan="2">
          <p-message severity="info">
            {{ 'No se encontraron lotes con cámara' | translate }}
          </p-message>
        </td>
      </tr>
    </ng-template>

    <!-- Footer de la tabla con botón crear -->
    <ng-template #summary>
      @if (!helper.soloLectura()) {
        <div class="flex justify-center p-3 border-t border-surface-200">
          <p-button
            [label]="'Asignar cámara a un lote' | translate"
            icon="pi pi-plus"
            severity="primary"
            [fluid]="true"
            [outlined]="true"
            (click)="create()"
          ></p-button>
        </div>
      }
    </ng-template>
  </p-table>
</div>
<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '25rem' }"
  (onShow)="child.onDialogShow()"
  (onHide)="child.volver()"
>
  <app-asignar-camara-lote (cerrar)="visible = false" #child [editarLote]="editarLote"></app-asignar-camara-lote>
</p-dialog>
