<!-- <app-map-draw [formGeojson]="geojson" tipo="Polygon" [readOnlyPolygons]="geoJsonEstablecimiento"></app-map-draw> -->

<div style="padding: 1em; height: 100%">
  <div class="p-card" style="height: 100%">
    <div
      class="p-card-body"
      style="height: 100%; display: flex; flex-direction: column; justify-content: space-between"
    >
      <div style="overflow: hidden; height: 100%">
        <!-- Titulo -->
        <div class="p-card-title">{{ titulo?.() }}</div>
        <!-- Subtitulo -->
        <div class="p-card-subtitle column-flex-start" style="gap: 5px">
          @if (dispositivo) {
            <span>{{ dispositivo.nombre }}</span>
          }
        </div>

        <!-- Content -->
        <div class="p-card-content" style="overflow: auto; height: calc(100% - 26px); margin-top: 1em">
          @if (form) {
            <form [formGroup]="form" autocomplete="off">
              <p-tabs [(value)]="tabValue" scrollable [lazy]="false">
                <p-tablist>
                  <p-tab [value]="0">{{ 'Básico' | translate }}</p-tab>
                  <p-tab [value]="1">{{ 'Asignación' | translate }}</p-tab>
                </p-tablist>
                <p-tabpanels>
                  <!-- Basico -->
                  <p-tabpanel [value]="0">
                    <!-- Nombre -->
                    <p-floatlabel variant="in" class="mb-4">
                      <input pInputText formControlName="nombre" [fluid]="true" autocomplete="new-username" />
                      <label>{{ 'Nombre' | translate }}</label>
                    </p-floatlabel>

                    <!-- Deveui -->
                    <p-floatlabel variant="in" class="mb-4">
                      <input pInputText formControlName="deveui" [fluid]="true" autocomplete="new-username" />
                      <label>{{ 'Deveui' | translate }}</label>
                    </p-floatlabel>

                    <!-- Tipo -->
                    <p-floatlabel variant="in" class="mb-4">
                      <p-select formControlName="tipo" [options]="tiposDispositivo" [style]="{ width: '100%' }" />
                      <label>{{ 'Tipo' | translate }}</label>
                    </p-floatlabel>

                    <!-- Sensores -->
                    <p-floatlabel variant="in" class="mb-4">
                      <p-multiselect
                        [options]="sensores"
                        formControlName="sensores"
                        [style]="{ width: '100%' }"
                        [maxSelectedLabels]="3"
                        appendTo="body"
                      />
                      <label>{{ 'Sensores' | translate }}</label>
                    </p-floatlabel>
                  </p-tabpanel>
                  <!-- Asignación -->
                  <p-tabpanel [value]="1">
                    <!-- Nombre -->
                    <p-floatlabel variant="in" class="mb-4">
                      <p-select
                        [options]="productores"
                        formControlName="idProductor"
                        [checkmark]="true"
                        [filter]="true"
                        [showClear]="true"
                        filterBy="nombre"
                        optionLabel="nombre"
                        optionValue="_id"
                        [style]="{ width: '100%' }"
                        (onClear)="form.get('idProductor')!.setValue(null)"
                      />
                      <label>{{ 'Productor' | translate }}</label>
                    </p-floatlabel>
                  </p-tabpanel>
                </p-tabpanels>
              </p-tabs>
            </form>
          }
        </div>
      </div>
      <!-- Footer -->
      <div class="p-card-footer">
        <p-divider />
        <div class="flex gap-4 mt-1">
          <p-button
            [label]="'Cancelar' | translate"
            severity="secondary"
            class="w-full"
            [outlined]="true"
            styleClass="w-full"
            (onClick)="volver()"
          />
          <p-button
            [label]="'Guardar' | translate"
            class="w-full"
            styleClass="w-full"
            [loading]="loading"
            (onClick)="guardar()"
            [disabled]="!form?.valid || loading"
          />
        </div>
      </div>
    </div>
  </div>
</div>
