<!-- <app-map-draw [formGeojson]="geojson" tipo="Polygon" [readOnlyPolygons]="geoJsonEstablecimiento"></app-map-draw> -->

<div style="padding: 1em; height: 100%">
  <div style="overflow: hidden; height: 100%">
    <!-- Subtitulo -->
    @if (nombre) {
      <div class="p-card-subtitle">{{ nombre | titlecase }}</div>
    }
    <!-- Content -->
    <div class="p-card-content" style="overflow: auto; margin-top: 1em">
      @if (form) {
        <form [formGroup]="form" autocomplete="off">
          <!-- oldPassword -->
          <p-floatlabel variant="in">
            <p-password
              formControlName="oldPassword"
              [toggleMask]="true"
              [fluid]="true"
              [feedback]="false"
              autocomplete="new-password"
              appendTo="body"
              />
            <label>{{ 'Contraseña Actual' | translate }}</label>
          </p-floatlabel>
          <br />
          <!-- newPassword -->
          <p-floatlabel variant="in">
            <p-password
              formControlName="newPassword"
              [feedback]="true"
              [toggleMask]="true"
              [fluid]="true"
              autocomplete="new-password"
              appendTo="body"
              />
            <label>{{ 'Contraseña Nueva' | translate }}</label>
          </p-floatlabel>
          <small class="password-policy">{{ passwordPolicyText }}</small>
          @if (
            (form.get('newPassword')?.errors?.['minlength'] || form.get('newPassword')?.errors?.['pattern']) &&
            form.get('newPassword')?.touched
          ) {
            <small class="p-error">
              {{ passwordPolicyText }}
            </small>
          }
          <br />
          <!-- newPassword2 -->
          <p-floatlabel variant="in">
            <p-password
              formControlName="newPassword2"
              [feedback]="true"
              [toggleMask]="true"
              [fluid]="true"
              autocomplete="new-password"
              appendTo="body"
              />
            <label>{{ 'Confirmar Contraseña' | translate }}</label>
          </p-floatlabel>
          @if (
            (form.get('newPassword2')?.errors?.['minlength'] || form.get('newPassword2')?.errors?.['pattern']) &&
            form.get('newPassword2')?.touched
          ) {
            <small class="p-error">
              {{ passwordPolicyText }}
            </small>
          }
          <!-- Coincidencia -->
          @if (form.get('newPassword2')?.errors?.['valuesDoNotMatch']) {
            <small class="p-error">
              {{ 'Las contraseñas no coinciden' | translate }}
            </small>
          }
          <!-- REQUERIDO -->
          @if (form.get('newPassword2')?.errors?.['required'] && form.get('newPassword2')?.touched) {
            <small
              class="p-error"
              >
              {{ 'Este campo es obligatorio' | translate }}
            </small>
          }
          <br />
        </form>
      }
    </div>
  </div>
  <!-- Footer -->
  <div class="p-card-footer">
    <p-divider />
    <div class="flex gap-4 mt-1">
      <p-button
        [label]="'Cancelar' | translate"
        severity="secondary"
        class="w-full"
        [outlined]="true"
        styleClass="w-full"
        (onClick)="volver()"
        />
      <p-button
        [label]="'Guardar' | translate"
        class="w-full"
        styleClass="w-full"
        [loading]="loading"
        (onClick)="guardar()"
        [disabled]="!form?.valid"
        />
    </div>
  </div>
</div>
