<div class="list-view-container">
  <p-table
    #table
    [value]="dataSource"
    dataKey="_id"
    [rows]="helper.getPageSize(name)"
    [rowsPerPageOptions]="helper.pageSizeOptions"
    [loading]="loading"
    [paginator]="true"
    [scrollable]="true"
    scrollHeight="flex"
    (onPage)="helper.setPageSize(name, $event.rows)"
    [globalFilterFields]="['nombre']"
    stripedRows
    rowExpandMode="single"
    dataKey="_id"
    stateStorage="session"
    [stateKey]="name"
  >
    <!-- Caption -->
    <ng-template #caption>
      <div class="flex menu-offset" style="align-items: center">
        <!-- Buscar -->
        <p-iconfield iconPosition="left" class="ml-auto">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            #search
            pInputText
            type="text"
            (input)="table.filterGlobal($any($event.target).value, 'contains')"
            [placeholder]="'Buscar' | translate"
          />
        </p-iconfield>
        <!-- Limpiar -->
        <p-button
          [label]="'Limpiar' | translate"
          [outlined]="true"
          icon="pi pi-filter-slash"
          (click)="table.clear(); search.value = ''"
          class="ml-2"
        />
      </div>
    </ng-template>

    <!-- Header -->
    <ng-template #header>
      <tr>
        <!-- Expandir -->
        <!-- <th style="width: 1em"></th> -->
        <!-- Nombre / Lotes -->
        <th pSortableColumn="nombre">
          <div class="flex items-center gap-2">
            {{ 'Lote' | translate }}
            <p-sortIcon field="nombre" />
            <p-columnFilter type="text" field="nombre" display="menu" />
          </div>
        </th>
        <!-- Semáforo -->
        <!-- <th pSortableColumn="calidadClima.nivel">
        <div class="flex items-center gap-2">
          {{ 'Nivel de Predicción de Clima' | translate }}
          <p-sortIcon field="calidadClima.nivel" />
          <p-columnFilter type="numeric" field="calidadClima.nivel" display="menu" />
        </div>
      </th> -->
        <!-- Acciones -->
        <th>
          <div class="flex items-center">
            {{ 'Acciones' | translate }}
          </div>
        </th>
      </tr>
    </ng-template>

    <!-- Body -->
    <ng-template #body let-row let-expanded="expanded">
      <tr>
        <!-- Expandir -->
        <!-- <td>
        <p-button
          type="button"
          pRipple
          [pRowToggler]="row"
          [text]="true"
          [rounded]="true"
          [plain]="true"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
        />
      </td> -->
        <!-- Nombre / Lote -->
        <td>
          <p style="margin: 0">{{ row.nombre }}</p>
          <!-- Calidad de prediccion -->
          <div class="row-flex-start" style="gap: 3px">
            <i
              class="pi pi-circle-fill"
              [style]="elegirColor(row.calidadClima?.nivel)"
              [pTooltip]="getText(row.calidadClima?.nivel)"
            ></i>
            <span pTooltip="Último chequeo" class="no-info" style="text-align: center">
              Predicción de Enfermedades
            </span>
          </div>
        </td>

        <!-- Acciones -->
        <td>
          <div style="display: flex; flex-direction: row; gap: 0.5rem">
            <!-- Detalles -->
            <p-button
              [rounded]="true"
              pTooltip="Editar"
              icon="pi pi-search"
              severity="primary"
              (click)="detalles(row)"
            ></p-button>
            <!-- Editar -->
            @if (!this.helper.soloLectura()) {
              <p-button
                [rounded]="true"
                pTooltip="Editar"
                icon="pi pi-pencil"
                severity="warn"
                (click)="edit(row)"
              ></p-button>
            }
            <!-- Eliminar -->
            @if (!this.helper.soloLectura()) {
              <p-button
                [rounded]="true"
                pTooltip="Eliminar"
                icon="pi pi-trash"
                severity="danger"
                (click)="delete(row)"
              ></p-button>
            }
          </div>
        </td>
      </tr>
    </ng-template>

    <!-- Expanded -->
    <ng-template #expandedrow let-row>
      <tr>
        <td colspan="3">
          <h2 style="margin: 0; text-align: center; line-height: 2">Acá van mas detalles del lote</h2>
          <div style="display: flex; flex-direction: row; gap: 0.5rem; justify-content: center">
            <!-- Fertilizar -->
            <p-button [rounded]="true" pTooltip="Fertilizar" severity="primary" icon="pi" (onClick)="fertilizar(row)">
              <svg [style.fill]="'var(--p-button-primary-color)'" [attr.width]="'24px'" [attr.height]="'24px'">
                <use [attr.xlink:href]="'icons/icons.svg#psychiatry'"></use>
              </svg>
            </p-button>
            <!-- Fumigar -->
            <p-button [rounded]="true" pTooltip="Fumigar" severity="primary" icon="pi" (onClick)="fumigar(row)">
              <svg [style.fill]="'var(--p-button-primary-color)'" [attr.width]="'24px'" [attr.height]="'24px'">
                <use [attr.xlink:href]="'icons/icons.svg#shower'"></use>
              </svg>
            </p-button>
            <!-- Cosechar -->
            <p-button [rounded]="true" pTooltip="Cosechar" severity="primary" icon="pi" (onClick)="cosechar(row)">
              <svg [style.fill]="'var(--p-button-primary-color)'" [attr.width]="'24px'" [attr.height]="'24px'">
                <use [attr.xlink:href]="'icons/icons.svg#agriculture'"></use>
              </svg>
            </p-button>
            <!-- Sembrar -->
            <p-button [rounded]="true" pTooltip="Sembrar" severity="primary" icon="pi" (onClick)="sembrar(row)">
              <svg [style.fill]="'var(--p-button-primary-color)'" [attr.width]="'24px'" [attr.height]="'24px'">
                <use [attr.xlink:href]="'icons/icons.svg#compost'"></use>
              </svg>
            </p-button>
          </div>
        </td>
      </tr>
    </ng-template>

    <!-- Sin datos -->
    <ng-template #emptymessage>
      <tr>
        <td colspan="7">
          <p-message severity="info">
            {{ 'No se encontraron lotes' | translate }}
          </p-message>
        </td>
      </tr>
    </ng-template>

    <!-- Footer de la tabla con botón crear -->
    <ng-template #summary>
      @if (!helper.soloLectura()) {
        <div class="flex justify-center p-3 border-t border-surface-200">
          <p-button
            [label]="'Crear nuevo lote' | translate"
            icon="pi pi-plus"
            severity="primary"
            [fluid]="true"
            [outlined]="true"
            (click)="create()"
          ></p-button>
        </div>
      }
    </ng-template>
  </p-table>
</div>
