CHAMAN_SERVICE=sdc-api-externa
ENV=production
HOST=::
PORT=5009
API_DATOS=http://${{chaman-datos.RAILWAY_PRIVATE_DOMAIN}}:${{chaman-datos.PORT}}
API_PREDICCIONES=http://${{chaman-predicciones.RAILWAY_PRIVATE_DOMAIN}}:${{chaman-predicciones.PORT}}/sdc-predicciones
API_CLIMA=http://${{chaman-clima.RAILWAY_PRIVATE_DOMAIN}}:${{chaman-clima.PORT}}/clima
PREFIX=
