CHAMAN_SERVICE=sdc-api-predicciones
ENV=production
HOST=::
PORT=5007
API_DATOS=http://${{chaman-datos.RAILWAY_PRIVATE_DOMAIN}}:${{chaman-datos.PORT}}
API_CLIMA=http://${{chaman-clima.RAILWAY_PRIVATE_DOMAIN}}:${{chaman-clima.PORT}}/clima
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
PREFIX=sdc-predicciones
SWAGGER_ENABLED=false
CORS_ORIGINS=https://app.chamanagro.ar,https://chaman2026-production.up.railway.app,https://chamanagro.ar,https://www.chamanagro.ar
RATE_LIMIT_MAX=600
RATE_LIMIT_WINDOW_MS=60000
