CHAMAN_SERVICE=sdc-datos
ENV=production
HOST=::
PORT=5000
MONGO_URI=${{MongoDB.MONGO_URL}}
DB_NAME=chaman
PREFIX_PATH=
SWAGGER_ENABLED=false
CORS_ORIGINS=https://app.chamanagro.ar,https://chaman2026-production.up.railway.app,https://chamanagro.ar,https://www.chamanagro.ar
RATE_LIMIT_MAX=600
RATE_LIMIT_WINDOW_MS=60000
