CHAMAN_SERVICE=sdc-auth
ENV=production
HOST=::
PORT=5001
API_DATOS=http://${{chaman-datos.RAILWAY_PRIVATE_DOMAIN}}:${{chaman-datos.PORT}}
CLIENT_ID_INICIAL=1
CLIENT_SECRET_INICIAL=<change-me>
GOOGLE_CLIENT_ID=
APPLE_CLIENT_ID=
PASSWORD_DEFAULT_GOOGLE=
PREFIX_PATH=
