CHAMAN_SERVICE=sdc-api-predicciones
ENV=production
PORT=${{PORT}}
API_DATOS=https://<railway-sdc-datos-url>
API_CLIMA=https://<railway-sdc-clima-url>/local
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
PREFIX_PATH=
