CHAMAN_SERVICE=sdc-auth
ENV=production
PORT=${{PORT}}
API_DATOS=https://<railway-sdc-datos-url>
CLIENT_ID_INICIAL=1
CLIENT_SECRET_INICIAL=<change-me>
GOOGLE_CLIENT_ID=
APPLE_CLIENT_ID=
PASSWORD_DEFAULT_GOOGLE=
PREFIX_PATH=
