CHAMAN_SERVICE=sdc-api-clima
ENV=production
HOST=::
PORT=5008
API_DATOS=http://${{chaman-datos.RAILWAY_PRIVATE_DOMAIN}}:${{chaman-datos.PORT}}
API_FIELD_CLIMATE=https://api.fieldclimate.com/v2
PUBLIC_KEY=<fieldclimate-public-key>
PRIVATE_KEY=<fieldclimate-private-key>
FIELD_CLIMATE_USERS=[]
FIELD_CLIMATE_PASS=[]
API_OPEN_METEO=https://api.open-meteo.com/v1
API_OPEN_METEO_ARCHIVE=https://archive-api.open-meteo.com/v1
OPEN_WEATHER_KEY=
METEO_SOURCE_KEY=
OMIXON_KEY=
API_HORATECH_APIKEY=
PREFIX_PATH=local
