CHAMAN_SERVICE=sdc-ndvi-worker
ENV=production
PORT=5010
RAILWAY_DOCKERFILE_PATH=deploy/railway/sdc-ndvi-worker.Dockerfile
REDIS_HOST=${{Redis.REDISHOST}}
REDIS_PORT=${{Redis.REDISPORT}}
REDIS_PASSWORD=${{Redis.REDISPASSWORD}}
REDIS_NDVI_QUEUE=tareas-ndvi
REDIS_NDVI_DB=0
API_EXTERNA_URL=http://${{chaman-externa.RAILWAY_PRIVATE_DOMAIN}}:${{chaman-externa.PORT}}
NDVI_WORKER_TOKEN=<mismo-secreto-que-chaman-externa>
ENVIAR_BACKEND=true
CLEAN_UP=true
SAT_DELTA_VENCIMIENTO=30
LOCAL_NDVI_PATH=/app/ndvi-output
NDVI_STORAGE_MODE=inline
