CHAMAN_SERVICE=sdc-api-cliente
ENV=production
HOST=::
PORT=5002
API_DATOS=http://${{chaman-datos.RAILWAY_PRIVATE_DOMAIN}}:${{chaman-datos.PORT}}
API_AUTH=http://${{chaman-auth.RAILWAY_PRIVATE_DOMAIN}}:${{chaman-auth.PORT}}/sdc-auth
API_PREDICCIONES=http://${{chaman-predicciones.RAILWAY_PRIVATE_DOMAIN}}:${{chaman-predicciones.PORT}}/sdc-predicciones
API_CLIMA=http://${{chaman-clima.RAILWAY_PRIVATE_DOMAIN}}:${{chaman-clima.PORT}}/clima
AUTH_CLIENT_ID=1
AUTH_CLIENT_SECRET=<same-as-sdc-auth-client-secret>
REDIS_HOST=${{Redis.REDISHOST}}
REDIS_PORT=${{Redis.REDISPORT}}
REDIS_PASSWORD=${{Redis.REDISPASSWORD}}
REDIS_DB=0
REDIS_NDVI_QUEUE=tareas-ndvi
REDIS_NDVI_DB=0
MQTT_ENABLED=false
MQTT_PROTOCOL=ssl
MQTT_HOST=<mqtt-or-chirpstack-broker-host>
MQTT_PORT=8883
MQTT_USER=<mqtt-user>
MQTT_PASS=<mqtt-password>
MQTT_CLIENT_ID=chaman-api-production
MQTT_TOPIC_APIS=chaman-api-production
MAPS_KEY=
PREFIX=sdc-quimica
