<!-- Resumen del servicio monitoreo de enfermedades-->
<p-drawer
  #drawerRef
  [(visible)]="visible"
  [position]="(helper.isWide$ | async) ? 'right' : 'bottom'"
  [style]="{
    'margin-top': (helper.isWide$ | async) ? '58px' : '0',
    height: (helper.isWide$ | async) ? 'calc(100% - 58px)' : 'auto',
    'border-radius': (helper.isWide$ | async) ? '30px 0 0 30px' : '30px 30px 0 0',
    overflow: 'auto',
    width: (helper.isWide$ | async) ? '900px' : '100%',
    'max-width': (helper.isWide$ | async) ? '70vw' : '100%',
  }"
  [modal]="true"
  (onHide)="visibleChange.emit(false)"
  [header]="'Monitoreo de enfermedades' | translate"
  [closable]="true"
>
  <div
    [style]="{
      padding: (helper.isWide$ | async) ? '1.5em' : '1em',
      height: '100%',
      display: 'flex',
      'flex-direction': 'column',
      'justify-content': 'center',
    }"
  >
    <app-chart
      [options]="chartOptions"
      [style]="
        (helper.isWide$ | async) ? 'display: block; height: 600px; width: 100%' : 'display: block; height: 400px'
      "
    ></app-chart>
  </div>
</p-drawer>
