<ul class="list-none p-4 flex flex-col gap-4">
  <li class="flex items-center gap-3">
    <span class="font-medium">{{ 'Idioma' | translate }}</span>
    <p-select
      [options]="languages"
      [(ngModel)]="lang"
      optionLabel="label"
      optionValue="value"
      (onChange)="changeLang($event.value)"
      appendTo="body"
    >
      <ng-template pTemplate="item" let-item>
        <div class="flex items-center gap-2">
          <img [src]="item.icon" width="24" height="24" class="rounded-full" alt="" />
          <span>{{ item.label }}</span>
        </div>
      </ng-template>
      <ng-template pTemplate="selectedItem" let-selected>
        @if (selected) {
          <div class="flex items-center gap-2">
            <img [src]="selected.icon" width="24" height="24" class="rounded-full" alt="" />
            <span>{{ selected.label }}</span>
          </div>
        }
      </ng-template>
    </p-select>
  </li>
  <li class="flex justify-end mt-4">
    <p-button [label]="'Cerrar' | translate" severity="secondary" (onClick)="cerrar()" />
  </li>
</ul>
