<div style="padding: 1em; min-height: 100vh;">
  <div class="p-card">
    <!-- Header -->
    <div class="p-card-header" style="display: flex; justify-content: center">
      <img src="images/fert.jpg" alt="" />
    </div>

    <!-- Body -->
    <div class="p-card-body">
      <div>
        <!-- Titulo -->
        <div class="p-card-title">{{ titulo?.() }}</div>
        <!-- Subtitulo -->
        @if (lote) {
          <div class="p-card-subtitle">{{ 'Lote' | translate }} {{ lote.nombre }}</div>
        }
        <!-- Content -->
        <div class="p-card-content" style="margin-top: 1em">
          @if (form) {
            <form [formGroup]="form">
              <!-- Fecha de fertilizacion -->
              <p-floatlabel variant="in" class="mb-4">
                <p-datepicker
                  formControlName="fechaFertilizacion"
                  showIcon
                  iconDisplay="input"
                  [fluid]="true"
                  [showButtonBar]="true"
                />
                <label>{{ 'Fecha de fertilización' | translate }}</label>
              </p-floatlabel>

              <!-- Fertilizante -->
              <p-floatlabel variant="in" class="mb-4">
                <p-select
                  [loading]="loading"
                  [options]="fertilizantes"
                  formControlName="idFertilizante"
                  optionLabel="nombre"
                  optionValue="_id"
                  [filter]="true"
                  filterBy="nombre"
                  [showClear]="true"
                  [fluid]="true"
                  [appendTo]="'body'"
                >
                </p-select>
                <label>{{ 'Fertilizante' | translate }}</label>
              </p-floatlabel>

              <!-- Dosis -->
              <p-floatlabel variant="in" class="mb-4">
                <p-inputnumber formControlName="dosisKgHa" [min]="0" [fluid]="true" suffix=" Kg/Ha" />
                <label>{{ 'Dosis' | translate }}</label>
              </p-floatlabel>
            </form>
          }
        </div>
      </div>
      <!-- Footer -->
      <div class="p-card-footer" style="flex: 0 0 auto;">
        <p-divider />
        <div class="flex gap-4 mt-1">
          <p-button
            [label]="'Cancelar' | translate"
            severity="secondary"
            class="w-full"
            [outlined]="true"
            styleClass="w-full"
            (onClick)="volver()"
          />
          <p-button
            [label]="'Guardar' | translate"
            class="w-full"
            styleClass="w-full"
            [loading]="loading"
            (onClick)="guardar()"
            [disabled]="!form?.valid"
          />
        </div>
      </div>
    </div>
  </div>
</div>
